
body {
    font-family: 'Montserrat', sans-serif;
   background-color: #fff3e0;

}
.card {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #412614;    
}

.burgerPic {
    margin-bottom: -20px;
}
.burgerList {
    padding-left: 20px;
    padding-right: 20px;

}
.burgerName {
    color: #fff3e0;
}


h3 {
    color: white;
    text-shadow: 1px 1px 1px #000;     
}

.welcome {
    color: #412614;
}

.delete-burger {
    background-color: #fff3e0;

}

.change-devoured {
    background-color: #f39744
}

.form-group {
    color: #fff3e0;
}